/* CSS declarations go here */
* {
    box-sizing: border-box;
}
html, body, #react-root {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto;
}
.grid-three-col > * {
    flex: 0 0 33.3333%;
    margin-bottom: 8px;
}
